@model ImaginCrud.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr>
<h2 class="intro-text text-center">
    <strong>Registrar usuario</strong>
</h2>
<hr>


@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
            <div class="form-group">

                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>

        </div>
    </div>
    <div class="btn-group btn-group-justified">
        <input type="submit" value="Guardar" class="btn-default " />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}