@model ImaginCrud.Models.RegisterModel

@{
    ViewBag.Title = "Cambiar contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap-select.css" rel="stylesheet" />

<hr>
<h2 class="intro-text text-center">
    <strong>Usuarios</strong>
</h2>
<hr>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <strong>Alerta!</strong> @ViewBag.Error
    </div>
}
@using (Html.BeginForm())
{

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> Editar usuario</h3>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.UserName)
            @Html.HiddenFor(model => model.Email)
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nombre de usuario</label>
                        @Html.TextBoxFor(model => model.UserName, new { @disabled = "disabled", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                    <div class="form-group">
                        <label>Correo electrónico</label>
                        @Html.TextBoxFor(model => model.Email, new { @disabled = "disabled", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nuevo password</label>
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div class="form-group">
                        <label>Confirmación nuevo password</label>
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>

            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="submit" class="btn btn-success navbar-btn" ng-disabled="form.$invalid">Guardar</button>
                </li>
            </ul>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Ver lista de usuarios", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-select.js"></script>
}
